body{
    font-family: sans-serif;
    margin-left: 2rem;
}

html body div#canvas svg g text.pop{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
}

html body div#canvas svg g g.axes g.tick text{
    font-size: 1rem;
}

